:root{
    --px-size:85px;
    --color01: black;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(9, 9, 37);
    background-image: url(../static/pizzaBack.PNG);
    background-repeat: no-repeat;
    background-position: center top -100px  ;
    background-size: 100% 100vh;
    z-index: 1;

}
#photo1{
margin-left: 40px;
    width: 78px;
}
#photo1:hover{
    width: 85px;
}
.header-main{
    position: sticky;
    width: 100%;
    height: var(--px-size);
    background-color: rgb(163, 49, 49);
    display: flex;
    z-index: 900;
}

.logo{
 
    width: 200px;
    height: var(--px-size);
    background-color: green;
}
.main-menu{
    
    width: 600px;
    height: var(--px-size);
    background-color: beige;
    width: fit-content;

}
.main-menu ul{
padding-top: 20px;
 list-style: none;
 margin-left: 40px;
 margin-right: 15px;
}
.main-menu ul li{

    display: inline;
    float: left;
}

.main-menu ul li a{
    
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.main-menu ul li a:hover {
    
    font-size: 22px;
}

.main-menu-table{

    border-collapse: collapse;
    position: absolute;
    width: 45%;
    margin-left: 500px;
    animation: tableMove 1s 100ms forwards;

}

.main-menu-table th, .main-menu-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-weight: bold;


  }

.main-menu-table td {

    color: antiquewhite;

  }
  .main-menu-table th {
    background-color: beige;
    font-style: oblique;

  }

@keyframes tableMove{

    from{
        margin-left: 2500px;
    }

    to{

        margin-left: 500px;
    }

}

  h1{
    text-align: center;
    color: antiquewhite;
    text-shadow: -2px 2px 4px black;
  }
  .search-bar{
    display: flex;
    position: absolute;
    right: 40px;
    top: 50px;
  }
.noResult{
    text-align: center;
    font-size: large;
    color: antiquewhite;
  }

.backGroundImg{
    width: 100%;
    position: c;  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-h1{
    position: absolute;
    font-size: 100px;
    left: 300px;
    color: antiquewhite;
}
.description{
    position: absolute;
    width: 600px;
    height: 100px;
    left: 300px;
    top: 400px;
    font-weight: bold;
    color: antiquewhite;
}
.order-btn{

    position: absolute;
    border: rgb(163, 49, 49) solid;
    background-color: rgb(163, 49, 49);
    width: 200px;
    height: 70px;
    left: 300px;
    top: 550px;
}
.order-btn a{
    color: antiquewhite;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}
.restaurant-btn {

    position: absolute;
    border: rgb(163, 49, 49) solid;
    background-color: rgb(163, 49, 49);
    width: 140px;
    height: 60px;
    left: 300px;
    top: 1600px;

}
.restaurant-btn a{
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.contact-btn {

    position: relative;
    border: rgb(163, 49, 49) solid;
    background-color: rgb(163, 49, 49);
    width: 140px;
    height: 60px;
    top: 200px;
    left: 1100px;


}
.contact-btn a{
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.h2-main{
    position: absolute;
    color: antiquewhite;
    left: 300px;
    top: 950px;
    font-weight: bold;
    font-size: 54px;
    text-shadow: -2px 2px 4px black;
}
#img02{
    position: absolute;
    top: 850px;
    right: 500px;
    z-index: 1000;
}
#descripton02{
    position: absolute;
    width: 500px;
    color: antiquewhite;
    left: 300px;
    top: 1300px;
}
#p01{
    font-weight: bold;
}
.menu-white{
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    height: 800px;
    top: 1700px;
    right: 0px;

}
#img03{
    position: absolute;
    top: 1650px;
    right: 560px;
    z-index: 1000;
}
h3{
    color: rgb(163, 49, 49);
    font-weight: bold;
    font-size: 54px;
    position: relative;
    left: 300px;
    text-shadow: -2px 2px 4px black;
}
.descripton03{
    position: relative;
    width: 500px;
    left: 300px;
}
#p03{
  font-weight: bold;
}
.menu-bottom{
    position: absolute;
    background-color: rgb(9, 9, 37);
    color: antiquewhite;
    width: 100%;
    height: 400px;
    top: 2600px;
    right: 0px;

}
.menu-bottom a{
    text-decoration: wavy;
    color: antiquewhite;
    font-weight: bold;
    position: relative;
    left: 300px;
}
.menu-bottom p{
    text-decoration: wavy;
    color: antiquewhite;
    font-weight: bold;
    position: relative;
    left: 300px;
}
h4{
    position: relative;
    left: 300px;
    font-weight: bold;
    font-size: 34px;
}
#p04{
    position: relative;
    top: 40px;
    width: 100%;
    height: 2px;
    background-color: antiquewhite;
    z-index: 1001;
}
#p05{
    position: relative;
    top: 30px;
}
.menu-menu{
    position: absolute;
    background-color: rgb(9, 9, 37);
    width: 100%;
    height: 600px;
    top: 450px;
    right: 0px;
    font-weight: bold;
}
.order-choice{
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: auto;


}
#order-btn-take{
   width: 100px;
}
#photo3{
    width: 50px;
    display: none;

}
/* restaurant section*/

.map{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 450px;
    left: 350px;
    width: 500px;
    height: 500px;


}
.list-restaurants{
    position: absolute;
    right: 550px;
    width: 300px;
    height: 300px;
    
}
.list-restaurants a{
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: antiquewhite;
    font-style: oblique;
}
/*Contact section*/
.contact-number{
    position: absolute;
    right: 1050px;
    width: 300px;
    height: 300px;
    color: antiquewhite;

}
.contact-contact{
    position: absolute;
    right: 750px;
    width: 300px;
    height: 300px;
    color: antiquewhite;

}
.contact-hours{
    position: absolute;
    right: 450px;
    width: 300px;
    height: 300px;
    color: antiquewhite;

}

@media only screen and (max-width:600px) {

    .burger-MENU{
        width: 20px;
        height: 20px;
        background-image: url(./burgerMenu.png),url(./close1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center,center left 50px;
        z-index: 1100 ;
        display: block;
        align-items: center;
        justify-content: center;
    }
    body{

        background-size: 100% 50vh;
        z-index: 1;
    
    }
    #photo3{
        display: block;
        position: absolute;
        right: 0px;
        top: 30px;
    
    }
    .main-menu{
    
        width: 400px;
        height: var(--px-size);
        background-color: beige;
        width: fit-content;
    
    }
    .main-h1{
        position: absolute;
        font-size: 40px;
        left: 100px;
        color: antiquewhite;
    }

    .main-menu ul li a{
        display: none;
        

    
    }

    .description{
        width: 400px;
        height: 100px;
        left: 80px;
        top: 300px;

    }
    .order-btn{
        width: 100px;
        height: 50px;
        left: 150px;
        top: 450px;
    }
    .order-btn a{
        color: antiquewhite;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }
    .restaurant-btn {

        position: absolute;
        border: rgb(163, 49, 49) solid;
        background-color: rgb(163, 49, 49);
        width: 140px;
        height: 60px;
        left: 100px;
        top: 1530px;
           font-size: 12px;
        z-index: 1010;
     
    
    }
    .restaurant-btn a{
        color: antiquewhite;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }
    .contact-btn {
    
        position: relative;
        border: rgb(163, 49, 49) solid;
        background-color: rgb(163, 49, 49);
        width: 140px;
        height: 60px;
        top: 200px;
        left: 1100px;
    
    
    }
    .contact-btn a{
        color: antiquewhite;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }
    .h2-main{

        left: 50px;
        top: 550px;
        font-size: 34px;

    }
    #img02{
        position: absolute;
        width: 200px;
        top: 550px;
        right: 50px;
        z-index: 1000;
    }
    #descripton02{
        position: absolute;
        font-size: 12px;
        width: 400px;
        color: antiquewhite;
        left: 50px;
        top: 870px;
    }
    .menu-white{
        position: absolute;
        background-color: antiquewhite;
        width: 100%;
        height: 500px;
        top: 1150px;
        right: 0px;
    
    }
    h3{
        font-size: 34px;
        left: 100px;

    }
    .descripton03{
        flex-wrap: wrap;

        width: 300px;
        left: 80px;
    }
    .menu-bottom{
        position: absolute;
        background-color: rgb(9, 9, 37);
        color: antiquewhite;
        width: 100%;
        height: 400px;
        top: 1600px;
        right: 0px;
    
    }
    .menu-bottom a{
        text-decoration: wavy;
        color: antiquewhite;
        font-weight: bold;
        position: relative;
        left: 100px;
    }
    .menu-bottom p{
        text-decoration: wavy;
        color: antiquewhite;
        font-weight: bold;
        position: relative;
        left: 100px;
    }
    h4{
        position: relative;
        left: 100px;
        font-weight: bold;
        font-size: 24px;
    }
    #p04{
        position: relative;
        top: 40px;
        width: 100%;
        height: 2px;
        background-color: antiquewhite;
        z-index: 1001;
    }
    #p05{
        font-size: 12px;
        width: 400px;
        left: 50px;
   
    }
}