{%extends 'mainSite.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    {%block menu%}
    <div class="menu-menu">
        <div class="chuj">
            <h1>Contact</h1>

        </div>
        <div class="contact-number">
            <p>Nonna Pizzeria</p>
            <p>ul. Oboźna 11 Warszawa <br>
                00-332 Warszawa <br>
                tel. +48 790 797 010</p>
        </div>
        <div class="contact-contact">
            <p>Contact</p>
            <p>tel. +48 790 797 010 <br>
                tel. +48 533 040 302 <br></p>
        </div>
        <div class="contact-hours">
            <p>Oppening hours</p>
            <p>Poniedziałek - czwartek 12-21 <br>
                piątek - sobota 12-22 <br>
                niedziela 12-20</p>
        </div>
    </div>
    {%endblock%}
    
</body>
</html>