{%extends 'mainSite.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block menu%}
    <div class="menu-menu">
        <div class="chuj">
            <h1>Restaurants</h1>
            
        </div>
    </div>
    <div class="map">
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81557.02125739888!2d21.34077990481778!3d50.298331863002815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d6b0b7d9851a9%3A0x355c8c145281d882!2sPiccola%20Italia!5e0!3m2!1spl!2spl!4v1680354344961!5m2!1spl!2spl" width="500" height="500" style="border:0;" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

    </div>
    <div class="list-restaurants">
        <a href="https://www.google.com/maps/place/Piccola+Italia/@50.2983319,21.3407799,12z/data=!4m10!1m2!2m1!1spizza+u+w%C5%82ocha!3m6!1s0x473d6b0b7d9851a9:0x355c8c145281d882!8m2!3d50.2983106!4d21.4240784!15sCg9waXp6YSB1IHfFgm9jaGFaESIPcGl6emEgdSB3xYJvY2hhkgEQcGl6emFfcmVzdGF1cmFudOABAA!16s%2Fg%2F12hpm5hxz?hl=pl-PL">
            Picollo italiana <br>
        aleja Ducha Świętego 4a, 39-300 Mielec   </a>  
        
    </div>
    {%endblock%}
    
</body>
</html>